*{
  padding: 0;
  box-sizing: border-box;
}
html{
  color: white;
  font: normal .9em/1.1 arial;
}
body{
  margin: 24px;
  background-color: black;
  width: 600px;
}

body > *~*{
  margin: 1em 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
  text-align: center;
}
header button{
  padding: .25em;
  margin-right: 24px;
}
main{
  width: 624px;
  height: 624px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-image: url('../img/BoardBorder.png');
  background-size: 100%;
  background-color: black;
}
h4{
  width: 120px;
  height: 120px;
  padding: 12px 8px;
  margin: 0px;
  color:white;
  background-image: url(../img/TileUndone.png);
  background-size: 100%;
  vertical-align: middle;
  align-content: center;
  
}

span{
  background-color: black;
  text-align:center;
  vertical-align:super;
}

.selected{
  width: 120px;
  height: 120px;
  padding: 12px 8px;
  margin: 0px;
  background-color: #de2939;
  color:#efefe7;
  background-image: url('../img/TileDone.png');
  background-size: 100%;
  vertical-align: middle;
}

.selected span{
  background-color: transparent;
}

label{
  display: block; 
}

aside{
  background-color: #211010;
  border: solid 3px;
  padding: 1em;
}

div{
  margin: 1em 0;
}
